
* {
  margin: 0;
  padding: 0;
}

body {
  color: #0e1111;

}

h1 {
  
  font-size: 3rem;
}

h6 {
  font-size: 2rem;
  line-spacing: 0.2em;
}

.layout {
  display: grid;
  height: 100vh;
  width: 100%;
  /*grid-template-columns: repeat (5, 1fr);
  grid-template-rows: repeat (3, 1fr);*/
  grid-template-columns: 350px;
  grid-template-rows: 33.33%;
  align-items: stretch;
}

section {
  display: block;
}

article {
  text-align: center;
  fill-height: true;
  fill-width: true;
}

img {
  width: 50px;
  margin-top: 50px;
  text-align: center;
}

.a {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  background-color: #5B391E;

}

.b {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  background-color: #87C6C3;
}

.c {
  grid-column: 4 / 6;
  grid-row: 1 / 4;
  background-image: url("Images/orangutan.mom.baby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.d {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-color: #66BBAE;
}

.e {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: #C6C386;
}

.f {
  grid-column: 3 / 4;
  grid-row: 2 / 3; 
  background-color: #5B391E;
}

.g {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #C3EEE7;
}

.h {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  background-color: #66BBAE;
}

.i {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #C3EEE7;
}

@media screen and (max-width: 980px) {

}


@media screen and (max-width: 650px) {

}

@media screen and (max-width: 450px) {
